{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Staff Dashboard</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">


    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
    <div class="se-pre-con"></div>
    <section>
        <!-- sidebar menu start -->
        <div class="sidebar-menu sticky-sidebar-menu">


            <div class="logo-icon text-center">
                <img src="{% static 'assets/images/logo.png' %}" alt="logo-icon">
            </div>
            <!-- //logo end -->


        </div>
        <!-- //sidebar menu end -->
        <!-- header-starts -->
        <div class="header sticky-header">


            <!-- notification menu start -->
            <div class="menu-right">

                <div class="navbar user-panel-top">
                    <h2 style="margin-right: 400px;">Django Online Exam</h2>
                    <div class="user-dropdown-details d-flex">
                        <div class="profile_details">
                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true" aria-expanded="false">
                                        <div class="profile_img">
                                            <img src="{% static 'assets/images/profileimg.jpg' %}" class="rounded-circle" alt="" />
                                            <div class="user-active">
                                                <span></span>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                        <li class="user-info">
                                            <h5 class="user-name">{{ ur }}</h5>
                                            <span class="status ml-2">Available</span>
                                        </li>

                                        <li class="logout"> <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>
                                                Logout</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--notification menu end -->
        </div>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <!-- content -->
            <div class="container-fluid content-top-gap">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Staff-Dashboard</li>
                    </ol>
                </nav>
                <div class="welcome-msg pt-3 pb-4">
                    <h1>Hi <span class="text-primary">{{ ur }} </span>, Welcome back</h1>
                    <p>Very detailed & featured Staff Dashboard.</p>
                </div>

                <!-- statistics data -->
                <div class="statistics">
                    <div class="row">
                        <div class="col-xl-6 pr-xl-2">
                            <div class="row">
                                <div class="col-sm-6 pr-sm-2 statistics-grid">
                                    <div class="card card_border border-primary-top p-4">
                                        <i class="lnr lnr-users"> </i>
                                        <h3 class="text-primary number">Students<br>WorkFlow</h3>
                                        <p class="stat-text">Total Users</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 pl-sm-2 statistics-grid">
                                    <div class="card card_border border-primary-top p-4">
                                        <i class="lnr lnr-eye"> </i>
                                        <h3 class="text-secondary number">Mentors<br>WorkFlow</h3>
                                        <p class="stat-text">Daily Visitors</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 pl-xl-2">
                            <div class="row">
                                <div class="col-sm-6 pr-sm-2 statistics-grid">
                                    <div class="card card_border border-primary-top p-4">
                                        <i class="lnr lnr-book"> </i>
                                        <h3 class="text-success number">Exams<br>WorkFlow</h3>
                                        <p class="stat-text">Downloads</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 pl-sm-2 statistics-grid">
                                    <div class="card card_border border-primary-top p-4">
                                        <i class="lnr lnr-list"> </i>
                                        <h3 class="text-danger number">Mentors<br>List</h3>
                                        <p class="stat-text">Purchased</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //statistics data -->


                <!-- Display Students -->
                <div id="" class="data-tables">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card card_border p-4">
                                <div class="card-header chart-grid__header pl-0 pt-0">
                                    <i class="lnr lnr-users"> </i>
                                    <strong>Registered Students</strong>
                                </div>
                                <div class="messaging">
                                    <div class="inbox_msg">
                                        <div class="inbox_people">

                                            <div class="inbox_chat">
                                                {% block content %} {% for students in student %}
                                                <div class="chat_list">
                                                    <div class="chat_people">
                                                        <div class="chat_img"> <img src="{{ students.get_photo_url }}" height="55px" width="55px" alt="Alexander" class="img-fluid">
                                                        </div>
                                                        <div class="chat_ib">
                                                            <h5>{{ students.name }} <span class="chat_date">Study Level:
                                                                    {{ students.study_level }}</span></h5>
                                                            <p> <i class="lnr lnr-phone"> </i> {{ students.phone }}<br>
                                                                <i class="lnr lnr-inbox"> </i> {{ students.email }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //chatting -->

                <!-- Display Mentors-->
                <div class="data-tables">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card card_border p-4">
                                <div class="card-header chart-grid__header pl-0 pt-0">
                                    <i class="lnr lnr-eye"> </i>
                                    <strong class="text-secondary number">Registered Mentors</strong>
                                </div>
                                <div class="messaging">
                                    <div class="inbox_msg">
                                        <div class="inbox_people">

                                            <div class="inbox_chat">
                                                {% for mentors in mentor %} {% if mentors.Approved %}
                                                <div class="chat_list">
                                                    <div class="chat_people">
                                                        <div class="chat_ib">
                                                            <h5><strong> <i class="lnr lnr-user">
                                                                    </i>{{ mentors.FirstName }}
                                                                    {{ mentors.LastName }}</strong> <span class="chat_date">National ID
                                                                    :{{ mentors.national_ID }}</span></h5>
                                                            <p>M. {{ mentors.FirstName }} is a {{ mentors.subject }} professor, <i class="lnr lnr-phone"> </i> {{ mentors.phone }}<br> <i class="lnr lnr-inbox"> </i> {{ mentors.email }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %} {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// Mentors-->

                <!-- accordions -->
                <div class="accordions">
                    <div class="row">
                        <!-- accordion style 1 -->
                        <div class="col-lg-12 mb-4">
                            <div class="card card_border">
                                <div class="card-header chart-grid__header">
                                    <strong class="text-success number"> <i class="lnr lnr-book"> </i> Exams</strong>
                                </div>
                                <div class="card-body">
                                    <div class="accordion" id="accordionExample">
                                        {% for exams in exam %}

                                        <div class="card">
                                            <div class="card-header bg-white p-0" id="headingTwo">
                                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{ exams.exam_name }} <h3
                                                        class="text-success number">Total Attempts : {{exams.attempts}}
                                                    </h3> </a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body para__style">
                                                    Description: This exam has {{exams.no_of_ques}} questions. it was created in {{exams.year}} and attempted {{exams.attempts}} times in total.
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //accordion style 1 -->
                    </div>
                </div>
                <!-- //accordions -->
                <!-- CRUD Mentors-->
                <div id="ds" class="data-tables">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card card_border p-4">
                                <div class="card-header chart-grid__header pl-0 pt-0">
                                    <strong class="text-danger number"> <i class="lnr lnr-list"> </i> CRUD
                                        Mentors</strong>
                                </div>
                                <div class="messaging">
                                    <div class="inbox_msg">
                                        <div class="inbox_people">

                                            <div class="inbox_chat">
                                                {% for mentors in mentor %}
                                                <div class="chat_list">
                                                    <div class="chat_people">
                                                        <div class="chat_ib">
                                                            <h5><strong> <i class="lnr lnr-user">
                                                                    </i>{{ mentors.FirstName }}
                                                                    {{ mentors.LastName }}</strong>
                                                                <span class="chat_date">
                                                                    {% if not mentors.Approved %}


                                                                    <a href="/logins/{{ mentors.user }}/edit?parameter={{ ur }}"
                                                                        class="btn btn-outline-primary">Treat Application</a>

                                                                    {% endif %}
                                                                    <br><br>
                                                                    <form action="{% url 'dashboard' %}" method="post"> {% csrf_token %}
                                                                        <input type="hidden" name="staffid" value="{{ ur }}">
                                                                        <input type="hidden" name="muser" value="{{ mentors.user }}">
                                                                        <button type="submit" name="delete" class="btn btn-outline-danger">&nbsp;Delete
                                                                            &nbsp;</button>
                                                                    </form>

                                                                </span>
                                                            </h5>
                                                            <p>M. {{ mentors.FirstName }} is a {{ mentors.subject }} professor, <i class="lnr lnr-phone"> </i> {{ mentors.phone }}<br> National ID :{{ mentors.national_ID }} <br> <i class="lnr lnr-inbox"> </i>                                                                {{ mentors.email }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}{% endblock %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// CRUD Mentors-->




            </div>
            <!-- //content -->
        </div>
        <!-- main content end-->
    </section>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->


    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>

    <!-- chart js -->
    <script src="{% static 'assets/js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/utils.js' %}"></script>
    <!-- //chart js -->

    <!-- Different scripts of charts.  Ex.Barchart, Linechart -->
    <script src="{% static 'assets/js/bar.js' %}"></script>
    <script src="{% static 'assets/js/linechart.js' %}"></script>
    <!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


    <script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>

    <!-- close script -->
    <script>
        var closebtns = document.getElementsByClassName("close-grid");
        var i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function() {
                this.parentElement.style.display = 'none';
            });
        }
    </script>
    <!-- //close script -->

    <!-- disable body scroll when navbar is in active -->
    <script>
        $(function() {
            $('.sidebar-menu-collapsed').click(function() {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll when navbar is in active -->

    <!-- loading-gif Js -->
    <script src="assets/js/modernizr.js"></script>
    <script>
        $(window).load(function() {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
    <!--// loading-gif Js -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>

</html>